In [1]:
# Dependencies
import pandas as pd
import plotly.express as plt
import os
import statsmodels.api as sm
import numpy as np

In [2]:
bikecounts_file = os.path.join('../','Resources', 'bikecounts.csv')
bikecounts_df = pd.read_csv(bikecounts_file)
bikecounts_df['Day'] = pd.to_datetime(bikecounts_df['Day'])
bikecounts_df.head(6)

,Unnamed: 0,Date,Day,High Temp (°F),Low Temp (°F),Precipitation,Brooklyn Bridge,Manhattan Bridge,Williamsburg Bridge,Queensboro Bridge,Total
0,0,2016-04-01,2016-04-01,78.1,66.0,0.01,1704.0,3126,4115.0,2552.0,11497
1,1,2016-04-02,2016-04-02,55.0,48.9,0.15,827.0,1646,2565.0,1884.0,6922
2,2,2016-04-03,2016-04-03,39.9,34.0,0.09,526.0,1232,1695.0,1306.0,4759
3,3,2016-04-04,2016-04-04,44.1,33.1,0.47 (S),521.0,1067,1440.0,1307.0,4335
4,4,2016-04-05,2016-04-05,42.1,26.1,0,1416.0,2617,3081.0,2357.0,9471
5,5,2016-04-06,2016-04-06,45.0,30.0,0,1885.0,3329,3856.0,2849.0,11919

In [3]:
#Hypothesis: A lower value for low temp will lead to a lower total bike count

In [4]:
# Select your independent X variables, and your dependent y variable. Note: Be sure to add your constant to your X term.
X=bikecounts_df[["Low Temp (°F)"]]
Y=bikecounts_df[["Total"]]
X=sm.add_constant(X)
model=sm.OLS(Y,X)
results=model.fit()

In [5]:
# Print the linear regression results
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Total   R-squared:                       0.242
Model:                            OLS   Adj. R-squared:                  0.215
Method:                 Least Squares   F-statistic:                     8.948
Date:                Wed, 06 Oct 2021   Prob (F-statistic):            0.00574
Time:                        12:49:02   Log-Likelihood:                -297.09
No. Observations:                  30   AIC:                             598.2
Df Residuals:                      28   BIC:                             601.0
Df Model:                           1
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const          1176.4295   4558.095      0.258      0.798   -8160.405    1.05e+04
Low Temp (°F)   287.8067     96.212      2.991      0.006      90.726     484.888
==============================================================================
Omnibus:                        4.581   Durbin-Watson:                   0.994
Prob(Omnibus):                  0.101   Jarque-Bera (JB):                2.160
Skew:                          -0.356   Prob(JB):                        0.340
Kurtosis:                       1.895   Cond. No.                         236.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [6]:
#There is not ebough evidence to to reject the null hypothesis as the  R-squared is quite low