In [103]:
import numpy as np
import pandas as pd
import plotly.express as px
import scipy.stats as sts

In [104]:
df = pd.read_csv('Resources/property_sales.csv')
df = df.select_dtypes(exclude=['object'])
df = df.drop('PrefixDire', 1)

sales=df.dropna()

sales

,OBJECTID,CRV,Ward,HouseNumber,Adjusted_S,Gross_Sale,Downpayment,X,Y,PIN_TEXT
0,10001,204924.0,4,4526,155103,159900.0,15990.0,516655.530538,190166.659712,1111821330128
1,10002,233969.0,4,4566,162000,169500.0,4448.0,516643.782209,190666.537525,1111821330138
2,10003,233969.0,4,4566,162000,169500.0,4448.0,516643.782209,190666.537525,1111821330138
4,10005,272354.0,13,4600,277900,284900.0,2000.0,516598.558439,146839.634287,1702824210001
5,10006,203371.0,13,4649,397125,400000.0,3000.0,516796.062107,146330.023267,1702824120100
...,...,...,...,...,...,...,...,...,...,...
10136,4994,256932.0,13,4410,640000,640000.0,128000.0,523534.222908,147995.425857,902824440048
10137,4995,256932.0,13,4410,640000,640000.0,128000.0,523534.222908,147995.425857,902824440048
10140,4998,238773.0,13,4525,593000,599000.0,38500.0,523725.388360,147206.008621,902824440140
10141,4999,238773.0,13,4525,593000,599000.0,38500.0,523725.388360,147206.008621,902824440140
10142,5000,250922.0,4,4526,42000,42000.0,42000.0,523530.800102,189852.602846,1211821340195

In [105]:
for (columnName, columnData) in sales.iteritems():
    print(sts.normaltest(columnData.values))

NormaltestResult(statistic=6663.167824898873, pvalue=0.0)
NormaltestResult(statistic=2557.4938124047962, pvalue=0.0)
NormaltestResult(statistic=60742.03508702133, pvalue=0.0)
NormaltestResult(statistic=1834.3280512782903, pvalue=0.0)
NormaltestResult(statistic=20567.051241301633, pvalue=0.0)
NormaltestResult(statistic=20712.414278094286, pvalue=0.0)
NormaltestResult(statistic=23429.787446520106, pvalue=0.0)
NormaltestResult(statistic=2217.800571594562, pvalue=0.0)
NormaltestResult(statistic=2099.3195533375215, pvalue=0.0)
NormaltestResult(statistic=835.539387875363, pvalue=3.6722075270219716e-182)

In [106]:
sample1 = sales.sample(10)
sample2 = sales.sample(10)
sts.ttest_ind(sample1, sample2, equal_var=False)

Ttest_indResult(statistic=array([-0.83378978, -1.42700092,  0.17278961,  0.39988642,  2.23985024,
        2.22676968,  0.44628292, -0.56251482, -0.91783054,  1.71068278]), pvalue=array([0.41738417, 0.17698611, 0.86476906, 0.6942835 , 0.04305308,
       0.04391987, 0.66108546, 0.58070651, 0.37091798, 0.10449845]))

In [ ]:

#For the most part the t statistic is quite low which means the 2 samples were definintly derived from the same sample